body {
   font-family: 'Just Another Hand', cursive;
   /* background-color: #242E6B; */
   /* background-image: url(../images/pic.jpg); */
   width: 100%;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0;
}

#title {
   font-weight: 300px;
   font-size: 150px;
   color: crimson;
   margin-bottom: 30px;
}

#question {
   font-weight: 300px;
   font-size: 150px;
   display: inline;
   color: #FFFFFF;
}

/* TODO: Styling by id: add styling for canvas */
#my_canvas {
   display: inline;
   border: 5px solid #FFFFFF;
   /* background-color: black; */
}

.scores{
   color: #D3E4CD;
   line-height: 1;
   /* width: 60%; */
   /* margin: 30px auto; */
}

.math {
   text-align: center;
   margin: 30px auto;
}

.checkAnswer {
   margin: 8px;
   background-color: #FFFFFF;
   border-radius: 20px;
   border-width: 0;
   cursor: pointer;
   color: #242E6B;
   line-height: 70px;
   font-family: 'Just Another Hand', cursive;
   font-size: 70px;
   letter-spacing: 3px;
   padding: 13px 32px 0 32px;
   text-align: center;
   text-decoration: none;
}

.checkAnswer:hover {
   background-color: #242E6B;
   color: white;
}

.design{
   background-color: #74959A;

}

/* forms css part */
h1.ph1 {
   color: #fff;
   padding: 10px;
}

.centered {
   padding-top: 200px;
   text-align: center;
   color: white;
}

.btn.pb {
   margin-left: 48%;
}

/* admin */
.btnd{
   margin-left: 52rem;
}

p.pp {
   margin: 0;
   padding: 20px;
   font-size: 20px;
   font-weight: 200;
}

form.item {
   text-align: center;
   margin-left: 20px;
}

.item {
   min-height: 70px;
   display: flex;
   align-items: center;
   border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.box {
   max-width: 400px;
   margin: 50px auto;
   background: #ffcd3c;
   border-radius: 5px;
   box-shadow: 10px 10px 20px 5px #ffcd3c;
}

.box1{
   background: #2EB086;
   box-shadow: 10px 10px 20px 5px #65C18C;
}

.box2{
   background: #B91646;
   box-shadow: 10px 10px 20px 5px #B8405E;
}

.design1{
   background-color: #2EB086;
}

.item:last-child {
   border-bottom: 0;
}

input:checked+p {
   text-decoration: line-through;
   text-decoration-color: #050505;
}

input[type="checkbox"] {
   margin: 20px;
}

#wrapper{
   border: 1px solid #888;
   display: inline-block;
   padding:20px;
   color: white;
}

.wrap{
   position: center;
   margin-left: 40rem;
   margin-top: 10rem;
}

.ho{
   background: url(../images/robot.jpg);
}

.sec{
   background: url(../images/sec.jpg);
}

.admin{
   background: url(../images/admin.jpg);
}

.imgg {
   background-repeat: no-repeat;
   background-size: auto;
   background-size:100% 100%;
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(15px);
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: -1;
 }

