<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Admin</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
   <div class="box" id="heading">
      <h1 class="ph1">USERS EMAIL ID👨‍💻️</h1>
   </div>

   <a class="btn btn-danger btn-lg btnd" href="/delete" role="button">Remove</a>
   <a class="btn btn-info btn-lg" href="/edit" role="button">Edit</a>
   <div class="box">
      
      <form action="/admin" method="post">
         {% for user in users %}
         <div class="item">
         
            <p class="pp">{{ user.email }}</p>
            
         </div>
         {% endfor %}
      </form>
   
   </div>

   <a class="btn btn-light pb" href="/ " role="button">Back</a>
</body>

</html>
