<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Home</title>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

   </head>
   <body >
      <div class="imgg ho"></div>
 <div class=" centered">
   <div class="container">
      <i class="fa fa-5x">👨‍💻️</i>
      <h1 class="display-3">SearchAi</h1>
      <p class="lead">Welcome To Search AI! Please Login Or Register</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>
      <a class="btn btn-dark btn-lg" href="/admin-login" role="button">Admin</a>

   </div>
</div>
   </body>
</html>
